<header>
  <h1>NBA Results</h1>
</header>
<main>

  @for(game of nbaGames; track game.date){
    <div class="game">
      <h2>{{ game.date | date: 'fullDate' }}</h2>
      <div class="teams">
        <div class="team">
          <h3>{{ game.homeTeam }}</h3>
          <p>Score: {{ game.homeScore }}</p>
        </div>
        <div class="team">
          <h3>{{ game.awayTeam }}</h3>
          <p>Score: {{ game.awayScore }}</p>
        </div>
      </div>
    </div>
  }
</main>
<footer>
  <p>Build with love and Kendo UI</p>
</footer>
