<header>
  <h1>Top Movies 2023</h1>
</header>
<div class="container">
  <aside>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </aside>
  <main>

    <section class="movies-section">
      <h2>Top Movies 2023</h2>
      @for (movie of topMovies2023; track movie) {
        <div class="movie-card">
          <h3>{{ movie.title }}</h3>
          <p>Director: {{ movie.director }}</p>
          <p>Box Office: {{ movie.boxOffice }}</p>
        </div>
      }
    </section>
  </main>
</div>
<footer>
  <p>Build with love and Kendo UI</p>
</footer>
